* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contain {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(80, 0, 117, 0.5), rgba(167, 0, 0, 0.6)),
    url(../img/Logo-coloured.png) center repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.banner {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner h1 {
  font-size: 80px;
  color: #ddd;
  font-weight: 300;
  margin-bottom: 30px;
  animation: moveToLeft 2s;
}

.banner span {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 238, 0);
}

.banner p {
  font-size: 30px;
  font-weight: 300;
  color: #eee;
  margin-bottom: 20px;
  animation: moveToRight 2s;
}

.banner button {
  width: 180px;
  padding: 12px;
  margin: 20px;
  border: 2px solid #eee;
  border-radius: 50px;
  font-size: 18px;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-left {
  background-color: #eee;
  color: #444;
  animation-name: animateBtn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

.btn-right {
  background-color: transparent;
  color: #eee;
  animation-name: animateBtn;
  animation-duration: 1s;
  animation-delay: 2.3s;
  animation-fill-mode: backwards;
}



/* REFERENCE FROM YOUTUBE */

@keyframes moveToLeft {
  0% {
    transform: translateX(120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animateBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}